.container {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;

  padding: 20px 24px;

  //   검색창
  &_searchBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }
  //   페이지 추가 버튼
  &_buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 12px 0;
  }
  //   추가 항목 출력
  &_todos {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_label {
      margin: 8px 0;
      font-size: 14px;
      font-weight: 500;
      color: #a6a6a6;
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
